<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Thymeleaf Spring Boot Demo </title>
        <<link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <h1 th:text="'Welcome, Producer-san'" />
        <img src="https://project-imas.wiki/images/thumb/8/86/SCToruIcon.png/500px-SCToruIcon.png" alt="Asakura Toru">
        <p>
            <span title="飾らない性格でマイペース。その透明感ある佇まいには、特別なオーラがある。幼馴染4人組の中心ともいえる存在。">
                She has an unpretentious personality and works at her own pace. Her transparent appearance has a special aura. She can be said to be the center of a group of her four childhood friends.
            </span>
        </p>

        <form>
            <p>
                What is your name, Producer?
                <input type="text" name="name" value="" placeholder="Producer Name"> 
                <button type="submit">Confirm</button>
            </p>
        </form>
        <p th:text="'Happy to see you here, ' + ${name} + 'P-san!!'"/>

        <details>
            <summary>Noctchill Idols</summary>
            <ul th:each="item: ${noctchillIdols}">
                <li th:text="${item}"/> 
            </ul>

        </details>
    </body>
</html>
